@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --color-primary: 255 115 179;
  }
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "futura-pt", sans-serif;
  font-size: 85px;
  font-weight: 0;
  color: #150E10;

}

h2 {
  font-family: "futura-pt", sans-serif;
  font-size: 50px;
  font-weight: 0;
  color: #150E10;

}

h3 {
  font-family: "futura-pt", sans-serif;
  font-size: 40px;
  font-weight: 0;
  color: #150E10;

}

h4 {
  font-family: "futura-pt", sans-serif;
  font-size: 30px;
  font-weight: 0;
  color: #150E10;

}

h5 {
  font-family: "futura-pt", sans-serif;
  font-size: 25px;
  font-weight: 0;
  color: #150E10;

}

p {
  font-family: "Geologica", sans-serif;
  font-size: 18px;
  font-weight: 0;
  color: #150E10;
 
}

@media (max-width: 768px) {
  h1 {
    font-family: "futura-pt", sans-serif;
    font-size: 48px;
  }
  h2 {
    font-family: "futura-pt", sans-serif;
    font-size: 38px;
  }
  h3 {
    font-family: "futura-pt", sans-serif;
    font-size: 28px;
  }
  h4 {
    font-family: "futura-pt", sans-serif;
    font-size: 20px;
  }
  h5 {
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
  }

  p {
    font-family: "Geologica", sans-serif;
    font-size: 14px;
  }
}
