---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Kaffecombo from "../components/Kaffecombo.astro";
import Kaffe from "../components/Kaffe.astro";
---

<MainLayout title="sortiment">
  <div>
    <h1 class="font-medium text-7xl pb-xl">VORES SORTIMENT</h1>

    <ul class="flex space-x-4 gap-xs">
      <li>
        <Link size="medium" variant="textlink" size="medium" href="/sortiment"
          >Single poser</Link
        >
      </li>
      <li>
        <Link size="medium" variant="textlink" size="medium" href="/Kaffepakker"
          >Pakkeløsning</Link
        >
      </li>
    </ul>
    <!-- Kaffesektioner -->
    <section id="kaffe-1">
      <Kaffecombo
        navn="MARCALA"
        udAf="1/4"
        bgcolor="bg-brand-blue"
        bordercolor="border-brand-yellow"
        bghovercolor="hover:bg-brand-yellow"
        texthovercolor="hover:text-brand-blue"
        textcolor="text-brand-yellow"
      />
    </section>

    <section id="kaffe-2">
      <Kaffecombo
        navn="BLEND NO3"
        udAf="2/4"
        bgcolor="bg-brand-purple"
        bordercolor="border-brand-rosa"
        bghovercolor="hover:bg-brand-rosa"
        texthovercolor="hover:text-brand-purple"
        textcolor="text-brand-rosa"
      />
    </section>

    <section id="kaffe-3">
      <Kaffecombo
        navn="HAVENS BLEND"
        udAf="3/4"
        bgcolor="bg-brand-yellow"
        bordercolor="border-brand-blue"
        bghovercolor="hover:bg-brand-blue"
        texthovercolor="hover:text-brand-yellow"
        textcolor="text-brand-blue"
      />
    </section>

    <section id="kaffe-4">
      <Kaffecombo
        navn="CAJAMARCA"
        udAf="4/4"
        bgcolor="bg-brand-rosa"
        bordercolor="border-brand-purple"
        bghovercolor="hover:bg-brand-purple"
        texthovercolor="hover:text-brand-rosa"
        textcolor="text-brand-purple"
      />
    </section>
  </div>
</MainLayout>
