---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import Marcala from "../assets/images/kaffe/marcala.webp";
---
<MainLayout title="Kurv">
  <article>
    <!-- historie -->
    <section class="px-s md:px-2xl py-3xl">
      <h1 class="text-center text-brand-rosa">KURV</h1>

      <div class="container mx-auto p-6">
        <!-- Main Content Wrapper -->
        <div class="flex flex-col md:flex-row gap-2xl">
          <!-- Product Section -->
          <div
            class="w-full md:w-2/3 bg-background-white p-6 rounded-lg shadow"
          >
            <h4 class="mb-4">Varer</h4>
            <div class="border-t pt-4">
              <!-- Product Item -->
              <h4 class="pb-m">Bygselv - Marcala, Blend no 3, Havens</h4>

                <!-- Product Details -->

                <div class="grid grid-cols-2 ">
                    <Image class="w-[80px] md:w-[100px] " src={Marcala} alt=""></Image>
                  
                  <div class="flex flex-col space-y-xs ">
                    <!-- abonnement detaljer -->
                    <div class="flex  justify-around">
                      <p>Grindstyle:</p>
                      <p>Espresso</p>
                    </div>
                    <!-- abonnement detaljer  -->
                    <div class="flex justify-around">
                      <p>Størrelse:</p>
                      <p>500 g</p>
                    </div>
                    <!--  -->
                    <div class="flex justify-around mb-2">
                      <label for="quantity" class="text-lg">Antal:</label>
                      <input
                        type="number"
                        id="quantity"
                        min="0"
                        value="0"
                        class="w-2xl h-sm border text-center"
                      />
                    </div>
                    <!-- abonnement detaljer  -->
                    <div class="flex justify-around">
                      <p>Abonnement:</p>
                      <p>Måned</p>
                    </div>

                    <!-- abonnement detaljer  -->
                    <div class="flex span justify-around">
                      <p>Pris:</p>
                      <p>170,00 Kr</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>

          <!-- Cart Total Section -->
          <div class="w-full md:w-1/3 bg-white p-6">
            <h4 class="mb-4">Kurv totalt</h4>
            <div class="flex flex-col space-y-xs border-t pt-4">
              <div class="flex justify-between">
                <h5 class="">Subtotalt</h5>
                <h5 class="">170,00 Kr.</h5>
              </div>

              <div>
                <h5 class="mb-2">Forsendelse</h5>
                <select
                class="mt-1 block w-full bg-brand-rosa text-font-white border px-4 py-2 w-4/5"
              >
                <option>Vælg mulighed</option>
                <option>Firma</option>
                <option>Pickup: Cafeen, Georg Brandes Plads 2 KBH. kl 8-17</option>
                <option>Privat adresse: 20,00 Kr.</option>
                <option>GLS pakkeshoppen: 50,00 Kr.</option>
                <option>GLS - Abonnement</option>
              </select>
                <p class="text-xs text-gray-500 mt-1">
                  Forsendelse vil blive opdateret, når du går videre til siden
                  kasse.
                </p>
              </div>

              <!-- Total Calculation -->
              <div class="flex flex-col space-y-xxs">
                <h5 class=" mb-2">Beregn Forsendelse</h5>
                <div class="flex justify-between">
                  <p class="">Total</p>
                  <p class="">
                    190,00 Kr. <span class="text-xs"
                      >(inkluderer 38,00 Kr. moms.)</span>
                  </p>

                </div>
                <div class="flex justify-between">
                  <p class="">Subtotal</p>
                  <p>170,00 Kr. <span class="text-xs">Hver måned</span></p>
                </div>
                <div class="flex justify-between">
                  <p class="">Forsendelse</p>
                  <p>20,00 Kr. <span class="text-xs">Hver måned</span></p>
                </div>
              </div>

              <div class="flex flex-col space-y-xxs border-t pt-4 ">
                <h4 class="">Måneds Abonnement</h4>
                <div class="flex justify-between items-center">
                  <p>Total</p>
                  <p class="font-bold">
                    190,00 Kr. <span class="text-xs"
                      >(inkluderer 38,00 Kr. moms.)</span>
                  </p>
                </div>
                <p class="text-xs ">Fornyes: hver den 1.</p>
              </div>
            </div>
            <!-- Checkout Button -->
            <Button class="w-full  " size="large" variant="buttonrosa" href="/"
              >KØB</Button
            >
          </div>
        </div>
      </div>
    </section>
  </article>
</MainLayout>
