---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Kaffebønne1 from "../assets/images/kaffebønner/kaffebønne1.webp";
import Kaffebønne2 from "../assets/images/kaffebønner/kaffebønne2.webp";
import Kaffebønne3 from "../assets/images/kaffebønner/kaffebønne3.webp";
---

<MainLayout title="Titel">
  <article class="bg-background-beige">
    <div class="px-s md:px-2xl">
      <h1 class="text-center">HISTORIEN OM VORES RISTERI</h1>
      <h4 class="text-center">
        Velkommen til historien om hvordan vores kaffe går fra bønne til lækker
        kaffe i din kop
      </h4>
    </div>
    <!-- parralax nummer 1 -->
    <div class="parallaxgrafik">
      <div class="mt-8 h-screen w-full grid grid-cols-12 overflow-hidden">
        <Image src={Kaffebønne1} alt="" class="col-start-2 parallaxgrafik1" />
        <Image src={Kaffebønne2} alt="" class="col-start-5 parallaxgrafik2" />
        <Image src={Kaffebønne2} alt="" class="col-start-8 parallaxgrafik3" />
        <Image
          src={Kaffebønne3}
          alt=""
          class="col-start-3 col-span-2 parallaxgrafik4"
        />
        <div
          class="w-[547px] h-[220px] left-[80px] top-3/3 absolute bg-brand-rosa rounded-tr-[170px] rounded-bl-[170px] shadow"
        >
          <p class="p-lg absolute text-font-white align-center">
            I 2014 tog Nordhavn Coffee det første store skridt mod at skabe en
            helhedsløsning for kaffe ved at åbne sit eget kafferisteri.
          </p>
        </div>
      </div>
    </div>
    <!--parralax nummer 2  -->
    <div class="parallaxgrafik">
      <div class="mt-8 h-screen w-full grid grid-cols-12 overflow-hidden">
        <Image src={Kaffebønne1} alt="" class="col-start-2 parallaxgrafik1_2" />
        <Image src={Kaffebønne2} alt="" class="col-start-5 parallaxgrafik2_2" />
        <Image src={Kaffebønne2} alt="" class="col-start-8 parallaxgrafik3_2" />

        <Image
          src={Kaffebønne3}
          alt=""
          class="col-start-3 col-span-2 parallaxgrafik4_2"
        />
        <Image src={Kaffebønne2} alt="" class="col-start-9 parallaxgrafik5_2" />

        <div
          class="w-[547px] h-[220px] left-[350px] top-0 absolute bg-brand-rosa rounded-tr-[170px] rounded-bl-[170px] shadow"
        >
          <p class="p-lg absolute text-font-white align-center">
            Den voksende efterspørgsel gjorde det hurtigt muligt at udvide
            salget, først til virksomheder og senere også til private kunder.
          </p>
        </div>
      </div>
    </div>
   <!--parralax nummer 3  -->
  <div class="parallaxgrafik">
    <div class="mt-8 h-screen w-full grid grid-cols-12 overflow-hidden">
      <Image src={Kaffebønne1} alt="" class="col-start-2 parallaxgrafik1_3" />
      <Image src={Kaffebønne2} alt="" class="col-start-5 parallaxgrafik2_3" />
      <Image src={Kaffebønne2} alt="" class="col-start-8 parallaxgrafik3_3" />

      <Image
        src={Kaffebønne3}
        alt=""
        class="col-start-6 col-span-2 parallaxgrafik4_3"
      />
      <Image src={Kaffebønne2} alt="" class="col-start-9 parallaxgrafik5_3" />

      <div
        class="w-[547px] h-[220px] left-[90px] top-0 absolute bg-brand-rosa rounded-tr-[170px] rounded-bl-[170px] shadow"
      >
        <p class="p-lg absolute text-font-white align-center">
          Den voksende efterspørgsel gjorde det hurtigt muligt at udvide salget,
          først til virksomheder og senere også til private kunder.
        </p>
      </div>
    </div>
    <!--  -->


  </article>
  
  
</MainLayout>

<script>
  /* Import af Motion One biblioteket */
  import { animate, scroll, inView } from "motion";
  scroll(animate(".parallaxgrafik1", { y: [400, -600] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });
  scroll(animate(".parallaxgrafik2", { x: [-100, 100], y: [800, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });
  scroll(animate(".parallaxgrafik3", { x: [-1500, 2000], y: [400, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });
  scroll(animate(".parallaxgrafik4", { x: [-1200, 2000], y: [400, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik1_2", { y: [400, -800] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik2_2", { x: [-100, 20], y: [900, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik3_2", { y: [900, -100] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik4_2", { x: [200, 20], y: [900, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });

  scroll(animate(".parallaxgrafik5_2", { x: [200, 20], y: [900, 0] }), {
    target: document.querySelector(".parallaxgrafik"),
    offset: ["start end", "end start"],
  });
</script>
