---

---

<div>
  <h1 class="font-medium text-7xl">VORES SORTIMENT</h1>

  <ul class="flex space-x-4 pb-10">
    <li>SINGLE POSER</li>
    <li>PAKKELØSNINGER</li>
  </ul>
</div>

<section class="max-w-full bg-purple-200 pt-10">
  <h3>SINGLE</h3>
  <h1 class="text-6xl">Marcala</h1>
  <img src="Kaffeorange.webp" alt="kaffe" />
  <h3>80 - 275 DKK</h3>
  <h2>BYG DIT EGET ABONNEMENT</h2>
</section>
