---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "textlink", size = "inline" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const linkStyling = " py-xxxs"; 

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
    "textlink": "text-font-black hover:underline ",
    "link": "text-font-black hover:underline",
    "button": "px-xs bg-rosa-800 text-font-white  hover:text-rosa-800 hover:bg-background-white hover:border ",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
   "small": "text-[16px] px-xxxs py-xxxs",
    "medium": "text-lg px-xxxs py-xxxs",
    "large": "text-3xl px-xxxs py-xxxs"
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>